body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
    margin: 0;
    text-align: center;
    background-image: url('plano.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-lista {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.contato-lista li {
    margin: 10px 0;
}

.contato-lista a {
    color: #0077B5;
    text-decoration: none;
}

.contato-lista a:hover {
    text-decoration: underline;
}

.contato-badges a {
    margin: 0 10px;
}

.contato-badges img {
    height: 40px;
    vertical-align: middle;
}

.menu {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.menu nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu nav ul li {
    margin: 0 15px;
}

.menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu nav ul li a:hover {
    color: #00ccff;
}
