body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
    background-image: url('plano.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

h1 {
    text-align:center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.badges img {
    margin: 5px;
    height: 30px;
    vertical-align: middle;
}

.habilidade {
    color: black;
}

.habilidades {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    margin-bottom: 30px;
    margin-right: 100px;
}

.ferramenta{
    margin-right: 170px;
}

.ferramentas {
    margin-right: 395px
}

.menu {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.menu nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu nav ul li {
    margin: 0 15px;
}

.menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu nav ul li a:hover {
    color: #00ccff;
}
